<html>
    <head>
        <title>YY blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">YY blog</a></h1>
        </div>

        <div>
            <p>publicado 11 11 2024, 12:14</p>
            <h2><a href="">primer post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>publicado 11 12 2024, 12:14</p>
            <h2><a href="">segundo post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>
